.customCardStyle {
  :global {
    .ant-card-head {
      height: 100%;
    }

    .ant-card-head-wrapper {
      height: 100px;
    }

    .ant-card-body {
      padding-top: 10px;
      padding-bottom: 10px;
      background: #f2f2f2;
      border-top: 1px solid #e4e4e3;
    }
  }
}

.cardContent {
  margin: 0;
  text-align: center;
}



// 活动详情页样式
.detailMsg {
  width: 100%;

  .topMsg {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;

    .topMsg_left {
      display: flex;
      align-items: center;

      &>div:first-child {
        color: #333;
        font-size: 18px;
        font-weight: 600;
        margin-right: 10px;
      }

      &>div:last-child {
        padding: 6px 12px;
        background: #999;
      }
    }

    .topMsg_right {
      width: 100px;
      height: 50px;
      border-radius: 5px;
    }
  }

  .BottomMsg {
    display: flex;
    align-items: center;

    &>div {
      flex: 1;

      &>div {
        margin: 10px 0;
      }
    }


  }


}
.detailRow {

  .tableTitle {
    margin-top: 12px;
    width: 100px;
    height: 30px;
    background: #999;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 5px 5px 0 0;
  }
}
.isShowAddGroupModal{
  display: flex;
  align-items: center;
  .adderSubtractor{
    display: flex;
    align-items: center;
    width: 120px;
    height: 32px;
    margin-left: 20px;
    .adderSubtractor_{
      width:32px;
      height: 32px;
      background: #e2dcdc;
      line-height: 32px;
      text-align: center;
      color: #000;
    }
    :global{
      .ant-input{
        padding: 0 !important;
        width: 50px !important;
        text-align: center !important;
        border-radius: 0 !important;

      }
    }
  }
}